:javascript
  $(function () {
      var chart;
      $(document).ready(function() {
          chart = new Highcharts.Chart({
              chart: {
                  renderTo: '#{container_id}',
                  type: 'bar'
              },
              title: {
                  text: 'Stacked bar chart'
              },
              xAxis: {
                  categories: ['6H', '6h15', '6h30', '6h45', '7h', '7h15']
              },
              yAxis: {
                  min: 0,
                  title: {
                      text: 'Total fruit consumption'
                  }
              },
              legend: {
                  backgroundColor: '#FFFFFF',
                  reversed: true
              },
              tooltip: {
                  formatter: function() {
                      return ''+
                          this.series.name +': '+ this.y +'';
                  }
              },
              plotOptions: {
                  series: {
                      stacking: 'normal'
                  }
              },
                  series: [{
                  name: '<15min',
                  data: [5, 3, 4, 7, 2,4]
              }, {
                  name: '<30min',
                  data: [2, 2, 3, 2, 1,5]
              }, {
                  name: '<45min',
                  data: [3, 4, 4, 2, 5,3]
              }, {
                  name: '<1h',
                  data: [3, 4, 4, 2, 5,3]
              }, {
                  name: '<1h30',
                  data: [3, 4, 4, 2, 5,3]
              }, {
                  name: '<2h',
                  data: [3, 4, 4, 2, 5,3]
              }, {
                  name: '>2h',
                  data: [3, 4, 4, 2, 5,3]
              }]
          });
      });
      
  });