/ Main hero unit for a primary marketing message or call to action
.hero-unit
  %h1 Trafficy
  %h2 Optimisez vos temps de trajet simplement!
  %p <b>Trafficy</b> est une application web pour <b>définir et calculer</b> au mieux vos temps de <b>trajet quotidien Domicile-Travail</b>. 
  %p <b>Trafficy</b> s'appuie sur les données de <a href="http://maps.google.fr">Google Maps</a> en récupérant <b>chaque jour et sur chaque tranche horaire</b> les temps de transport en incluant <b>bouchons et travaux</b>. 
  %p A partir de ces données, <b>Trafficy</b> calcule différentes <b>métriques</b> (moyennes par jour, semaine, mois et tranche horaire) pour vous permettre de choisir <b>le meilleur créneau horaire pour vos trajets</b>.
  %br
  %p
    %a.btn.btn-primary.btn-large Démarrer ! &raquo
/ Example row of columns
.row
  .span6
    %h2 Démos
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %p
      %a.btn{:href => "#"} View details &raquo;
  .span6
    %h2 Cas d'usage
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    %p
      %a.btn{:href => "#"} View details &raquo;