!!! 5
%html( lang="en" )
  %head
    %meta( charset="utf-8")
    %meta{:name => "Description", :content=>"" }
    %meta{:name => "Keywords", :content=>"" }
    %meta{:name => "Author", :content=>"Zeneffy Labs, Julien Raigneau" }
    %meta{:name => "Category", :content=>"" }
    %title Trafficy
  %body
    = yield
