%table.table.table-hover.table-bordered
  %thead
    %tr
      %th Origine
      %th Destination
      %th Moyenne (matin/soir)
      %th Minimum (matin/soir
      %th Maximum (matin/soir)
      %th
  %tbody
    %tr
      %td un
      %td deux
      %td un
      %td deux
      %td un
      %td deux
    %tr
      %td un
      %td deux
      %td un
      %td deux
      %td un
      %td Plus de détails

= @paths

