%script( type="text/javascript" src="http://code.highcharts.com/highcharts.js")
%script( type="text/javascript" src="http://code.highcharts.com/highcharts-more.js")
%script( type="text/javascript" src="http://code.highcharts.com/modules/exporting.js")

.row
  .span3.bs-docs-sidebar
    %ul(class="nav nav-list bs-docs-sidenav")
      %li(class="bs-docs-header")
        Matin
      %li
        %a(href="#graph1")
          <i class="icon-chevron-right"></i>Synthèse
      %li
        %a(href="#graph3")
          <i class="icon-chevron-right"></i>Test
      %li(class="bs-docs-header")
        Soir
      %li
        %a(href="#graph2")
          <i class="icon-chevron-right"></i>Synthèse
      %li(style="width:58px;")
        %a(href="#graph4")
          <i class="icon-chevron-right"></i>Test




  .span9
  
    %section(id="graph1")
      %h3 
      #container_graph1.graphs    
      = render(:haml,:'chart_bar_partial',:locals => {:graph => @graph1, :container_id => "container_graph1"})

    %section(id="graph2")
      %h3 
      #container_graph2.graphs    
      = render(:haml,:'chart_bar_partial',:locals => {:graph => @graph2, :container_id => "container_graph2"})