/* Footer
-------------------------------------------------- */

.footer {
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E6CBDA;
  background-color: #FFE2F2;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}


/* Updated styles from default */
.navbar .brand{font-size: 28px;font-weight: 600;}
