/* Footer
-------------------------------------------------- */

.footer {
  padding: 10px 0;
  margin-top: 70px;
  border-top: 1px solid #E6CBDA;
  background-color: #FFE2F2;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}


/* Updated styles from default */
body{background-image: url('/images/polonez_car.png')}
.navbar .brand{font-size: 28px;font-weight: 600;}
table{background-color:#FFF}
.table td{vertical-align:middle;}
.hero-unit {padding: 0px 60px 30px 30px;background-color:#FFF}

.the-icons {
  font-size: 16px;
  list-style: none;
  padding: 0px;
}
.the-icons a {
  padding-right: 2px; 
}

.the-icons a:hover{
  text-decoration: none;
  
}